/* controls */

#tester #controls > * {
    padding-bottom: 0.5em;
}

#tester #background-controls li {
    list-style-type: none;
    display: inline;
    font-family: "Bungeee Inline";
    font-size: 2em;
}

#tester #background-controls input {
    display: none;
}

#tester #background-controls input + label {
    display: inline-block;
    padding: 0.25em;
}

#tester #background-controls input:checked + label {
    background-color: white;
}

/* preview box */

#preview {
    display: block;
    margin-top: 1rem;
    background-color: #FFFFFF;
}

#preview.vertical {
    float: left;
    margin-right: 0.25in;
}

#preview.vertical + :not(.preview) {
    clear: left;
}

#svg, #png {
    display: inline-block;
    border: 1px solid black;
}

#tester #code {
    font-family: monospace;
    padding: 1em;
    border: 1px solid black;
    white-space: pre;
    overflow: auto;
}

#preview .layer {
    /* cute little fade in/out when layers are toggled */
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

/* arbitrary colors; these need to be set by UI eventually */
#preview .regular {
	color: #DC4227;
}

#preview .outline {
	color: #ad1622;
}

#preview .inline {
	color: #FFFFFF;
}

#preview .shade {
    color: rgba(128,128,128,0.3);
}

#preview .background.regular {
	color: #EFE446;
}

#preview .background.outline {
    color: #b2c021;
}

.swatch {
	font-size: 2em;
	line-height: 1;
	vertical-align: middle;
	margin-top: .25em;
	margin-bottom: .25em;
}
.swatch .bungeee:not(.sign):after,
.swatch.bungeee:not(.sign):after {
	content: 'R';
}
.swatch-small {
	font-size: 1em;
}
.colors span,
.swatch {
	text-align: center;
	width: 1.5em;
	height: 1.5em;
	padding: .25em;
	vertical-align: middle;
	margin-top: 0;
	outline: 1px solid #CCC;
	display: inline-block;
}.palette {
	font-size: 4em;
	position: relative;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	padding: .2em;
	margin-top: 0;
	vertical-align: middle;
	text-align: center;
}
.palette div {
	position: absolute;
	top: .2em;
	left: .2em;
	padding-left: .05em;
	margin: 0;
	width: 1.1em;
	height: 1.1em;
}
.active {
	outline: 3px solid #000 !important;
}
input {
	vertical-align: middle;
	margin: 0;
}
.none {
	background-color: #FFF;
    background: 
       linear-gradient(to top left,
           rgba(255,0,0,0) 0%,
           rgba(255,0,0,0) calc(50% - 2px),
           rgba(255,0,0,1) 50%,
           rgba(255,0,0,0) calc(50% + 2px),
           rgba(255,0,0,0) 100%);
}
#stylistic-sets ul {
	font-family: 'Bungeee Regular';
	font-size: 2em;
}
