/* controls */


#tester #background-controls li {
    list-style-type: none;
    display: inline;
    font-family: "Bungeee Regular";
    font-size: 1em;
}

#tester #background-controls input {
    display: none;
}

#tester #background-controls input + label {
    display: inline-block;
    padding: 0.25em;
}

#tester #background-controls input:checked + label {
    background-color: white;
}

form > fieldset {
	background-color: #E9E9E9;
	padding: .75em .5em;
	margin-top: 0;
}
form > fieldset + fieldset {
	border-top: 1px solid #CCC;
}

/* preview box */

#preview {
    display: block;
    margin-top: 1rem;
    background-color: #FFFFFF;
}

select {
	display: inline-block;
	margin-top: 0;
}
input[type=text] {
	padding: .25em .5em;
	margin-top: 0;
	vertical-align: baseline;
}

#preview.vertical {
    float: left;
    margin-right: 0.25in;
}

#svg, #png {
    display: inline-block;
    border: 1px solid black;
}

#tester #code {
    font-family: monospace;
    padding: 1em;
    border: 1px solid black;
    white-space: pre-wrap;
    overflow: auto;
}

#preview .layer {
    /* cute little fade in/out when layers are toggled */
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

/* arbitrary colors; these need to be set by UI eventually */
#preview .regular {
	color: #DC4227;
}

#preview .outline {
	color: #ad1622;
}

#preview .inline {
	color: #FFFFFF;
}

#preview .shade {
    color: rgba(128,128,128,0.3);
}

#preview .sign.regular {
	color: #EFE446;
}

#preview .sign.outline {
    color: #b2c021;
}

.swatch {
	font-size: 1.5em;
	line-height: 1;
	vertical-align: middle;
	margin-top: .25em;
	margin-bottom: .25em;
}


.swatch-small {
	font-size: .5em;
}
.colors span,
.swatch {
	text-align: center;
	width: .75em;
	height: .75em;
	margin-top: 0;
	outline: 1px solid #CCC;
	display: inline-block;
}

#palettes > li {
    display: inline-block;
    margin-right: 0.25em;
}

.palette {
	font-size: 2em;
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	padding: .1em;
	margin-top: 0;
	vertical-align: middle;
	text-align: center;
}
#palettes input {
    display: none;
}
#palettes input + label {
    display: inline-block;
}
.active, #palettes input:checked + label {
	outline: 3px solid #000;
}
input {
	vertical-align: middle;
}
.none, .color-picker-container .sp-clear {
	background-color: #FFF !important;
	color: rgba(255,255,255,0) !important;
    background: 
       linear-gradient(to top left,
           rgba(255,0,0,0) 0%,
           rgba(255,0,0,0) calc(50% - 2px),
           rgba(255,0,0,1) 50%,
           rgba(255,0,0,0) calc(50% + 2px),
           rgba(255,0,0,0) 100%);
}
